<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset="UTF-8">
        <title>Bring Him Home</title>
        <!-- Style Sheets-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron text-center">
              <h1><b>Martian Info!</b></h1>
              <a class="btn btn-primary btn-lg" href="/scrape" role="button">BRING DATA HOME!</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="jumbotron text-center">
              <a class="btn btn-primary btn-lg" href="/delete" role="button">Delete Data</a>
            </div>
        </div>
        <!-- div that contains title and teaser -->
        {% if mars_info %}
        <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <h3><b>First Article on Nasa-Mars website</b></h3> <br>
                  <h4 class="heading">{{mars_info.articleTitle}}</h4>
                  <p>{{mars_info.articleTeaser}}</p>
                  <hr class="my-4">
                </div>
              </div>
            </div>
        </div>
        <!--Div that contains featured image-->
        <div class="col-md-8">
            <h3><b>Featured Mars Image</b></h3>
            <img src={{mars_info.fullImageUrl}} height=375x width=375px>
        </div>

        <!-- Div that contains mars weather -->
        <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h4><b>Mars Weather</b></h4>
                    {{mars_info.marsWeather}}
                    <hr class="my-4">
                  </div>
                </div>
              </div>
            </div><div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><b>Mars Facts</b></h4>
              <p>{{mars_info.marsTable | safe}}</p>
            </div>
          </div>
        </div>
      </div>       
    </div>
  </div>
  <div class="row" style="margin-top:80px;">
    <div class="page-header">
      <h2 class="text-center"><b>Mars Hemispheres</b></h2>
    </div>
    <!-- Loop through hemispheres dictionary with images and titles -->
    {% for hemisphere in mars_info.hemisphere_info %}
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="{{hemisphere.img_url}}">
        <div class="caption">
          <h3><b>{{hemisphere.title}}</b></h3>
        </div>
      </div>
    {% endfor %}
  </div>
        {% endif %}

    </body>
</html>